<% content_for(:page_title, 'about') %>
<h1>about</h1>
<p>
  chrch.us is on a mission to spread the love and glory of Jesus Christ in today's digital age.
  <br>
  our mission is to inspire, nurture, and equip believers to escape the boundaries of their "home" churches, small groups, and comfort zones to share Jesus' message with a world that needs it more desperately than ever.
  <br>
  join us today and start spreading the love!
</p>
<h2>open source</h2>
<p>
  chrch.us is committed to a culture of openness, honesty and tranparency.
  <br>
  in order to show our commitment to these values, we've open-sourced all of our code. you can find it on <%= link_to 'github', 'https://github.com/chrch-us', target: '_blank' %> - feel free to open a pull-request!
</p>
<h2>contributors</h2>
<p>
  chrch.us is currently designed, developed, maintained, and supported by <%= link_to 'davidlormor', 'https://davidlormor.com', target: '_blank' %>. feel free to say hi!
</p>