<header id="welcome">
  <h1 class="title">welcome to chrch.us</h1>
  <h2 class="subtitle">a place for everyone</h2>
  <%= render 'public/components/new_join' %>
</header>
<section class="content">
  <p>
    chrch.us is a place for believers, non-believers, skeptics, cynics, sinners, saints, seekers, losers, winners, the sick, the poor, the rich, the hungry, the good, the bad, and everything in between.
    <br>
    we are here for one purpose - spreading the love and message of Jesus Christ.
  </p>
  <h1>curious? <%= link_to 'find out more', learn_more_path %></h1>
</section>
