nav {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .nav-links {
    @include display(flex);
    
    li {
      margin: 0 $nav-link-spacing;
    }
  }
}
