nav {
  $padding: $default-spacing;
  $border: $default-border;
  $nav-link-spacing: 0 $default-spacing;
  
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  border-bottom: $border;
  padding: $padding;
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .nav-links {
    @include display(flex);
    
    li {
      margin: $nav-link-spacing;
    }
  }
}
