<header class="intro">
  <h1>we're glad you want to join us</h1>
  <h2>please take a minute to fill out the form below to finish joining</h2>
</header>
<%= render "public/components/join_form",  locals: {join: @join} %>