<nav id="public-navbar">
  <h1 class="title"><%= link_to 'chrch.us', root_path %></h1>
  <ul class="nav-links">
    <li><%= link_to "learn more", learn_more_path %></li>
    <li><%= link_to "about", about_path %></li>
  </ul>
</nav>